In [3]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/student_depression_dataset.csv", sep=",")

In [4]:
df.head(3)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0

In [ ]:
df["Age"].dtypes #Age está como float (numero continuo)

dtype('float64')

In [ ]:
df["Age"].astype(str) #Converteu Age para string (texto)

#Agora por exemplo de texto para número inteiro não vai dar certo

0        33.0
1        24.0
2        31.0
3        28.0
4        25.0
         ...
27896    27.0
27897    27.0
27898    31.0
27899    18.0
27900    27.0
Name: Age, Length: 27901, dtype: object

### Se eu quiser por exemplo adicionar uma lista

In [11]:
df["Age"][0]

np.float64(33.0)

In [14]:
df["Lista"] = [[1,2] for i in df.index ]

In [16]:
df.head(3)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Lista
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1,"[1, 2]"
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0,"[1, 2]"
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0,"[1, 2]"

In [ ]:
for i in df.index:
    df["Lista"] = [1,2]

TypeError: 'int' object is not iterable