In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/student_depression_dataset.csv", sep=",")
df.head(3)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0

In [3]:
df2 = df.sort_values(by="Age", ascending=True) #Ordenando de forma crescete pela idade
#OBS. Posso utilizar a flag "inplacing=True" para ja sobrescrever o dataframe, sem necessidade de salvar como um novo (df2)
df2.head(3)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
3212,16161,Male,18.0,Lucknow,Student,1.0,0.0,8.96,3.0,0.0,'7-8 hours',Unhealthy,'Class 12',No,0.0,3.0,No,0
26320,132740,Female,18.0,Rajkot,Student,5.0,0.0,8.91,3.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,10.0,2.0,Yes,1
26318,132733,Male,18.0,Surat,Student,5.0,0.0,7.83,5.0,0.0,'More than 8 hours',Moderate,'Class 12',Yes,8.0,5.0,Yes,1

In [4]:
df2 = df.sort_values(by=["Age", "City"], ascending=[True, False])
df2.head(3)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
31,232,Male,18.0,Visakhapatnam,Student,2.0,0.0,6.21,3.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,4.0,2.0,No,1
1697,8723,Male,18.0,Visakhapatnam,Student,2.0,0.0,8.70,5.0,0.0,'7-8 hours',Moderate,'Class 12',Yes,2.0,5.0,No,1
1827,9414,Male,18.0,Visakhapatnam,Student,2.0,0.0,5.32,3.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',Yes,6.0,5.0,Yes,1