In [1]:
import pandas as pd
import datetime

In [4]:
dados = {"amostra": ["A001", "A002", "A003", "A004", "A005"],
         "Dtimport": ["2024-01-02", "2024-03-03", "2024-03-06", "2024-01-02", "2024-04-09"]}

df = pd.DataFrame(dados)
df

  amostra    Dtimport
0    A001  2024-01-02
1    A002  2024-03-03
2    A003  2024-03-06
3    A004  2024-01-02
4    A005  2024-04-09

In [ ]:
### Pego o horario atual:
now = datetime.datetime.now()
now

datetime.datetime(2025, 4, 4, 17, 24, 37, 146996)

In [ ]:
### Pego uma das datas e converto para data:
data1 = df["Dtimport"][0]
data1 = pd.to_datetime(data1)
data1

Timestamp('2024-01-02 00:00:00')

In [17]:
### Fazendo uma subtração a nível de dias:
dias1 = (now - data1).days
dias1

458

In [ ]:
### Fazendo co todas as datas:
datas = df["Dtimport"]
datas = pd.to_datetime(datas) 
#Ao invés de um dado único no formato data, tenho agora uma série

for data in datas:
    print((now - data).days)

458
397
394
458
360