### Agregar é o mesmo que resumir dados

##### Exemplos: estatísticas - média, desvio padrõa, máximo, mínimo

In [1]:
import pandas as pd

In [20]:
dados = {"Name": ["Xico", "Xico", "Xico", "Férbia", "Férbia", "Kas", "Kas", "Kas", "Kas"],
         "Points": [2, 4, 5, 1, 5, 2, 9, 4, 6]}

In [21]:
df = pd.DataFrame(dados)

In [22]:
df

     Name  Points
0    Xico       2
1    Xico       4
2    Xico       5
3  Férbia       1
4  Férbia       5
5     Kas       2
6     Kas       9
7     Kas       4
8     Kas       6

In [23]:
### Filtrando o dataset para apenas um usuário:
df_fil = df[df["Name"] == "Xico"]
df_fil

   Name  Points
0  Xico       2
1  Xico       4
2  Xico       5

In [24]:
### Agregando de forma manual:

pontos = {}

for n in df["Name"].unique():
    pontos[n] = df[df["Name"] == n]["Points"].sum()

pontos

{'Xico': np.int64(11), 'Férbia': np.int64(6), 'Kas': np.int64(21)}

### Método group by:

In [31]:
#Usando Group By:
df2 = df.groupby(["Name"]) #Cria um DataFrame GroupBy (novo tipo de objeto)
df2

In [49]:
df_sum = df.groupby(["Name"])["Points"].sum() #Série
df_sum = df_sum.reset_index() #Dataframe
df_sum

     Name  Points
0  Férbia       6
1     Kas      21
2    Xico      11

In [ ]:
df_mean = df.groupby(["Name"])["Points"].mean()
df_mean = df_mean.reset_index().rename(columns={"Name": "Nome", 
                                                "Points": "Média de pontos"})
df_mean

     Nome  Média de pontos
0  Férbia         3.000000
1     Kas         5.250000
2    Xico         3.666667

### Método agg:

In [56]:
### Usando o agg para contar a quantidade de ocorrências (frequência)
df_agg = df.groupby(["Name"]).agg({"Points": "sum", 
                                   "Name": "count"})

df_agg = df_agg.rename(columns={"Points": "Soma dos pontos", 
                                "Name": "Frequência"})
df_agg

        Soma dos pontos  Frequência
Name
Férbia                6           2
Kas                  21           4
Xico                 11           3